################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Exclude 

.vs/
*.dbmdl
*.jfm
*.suo
*.rsuser
*.sqlproj.user
*.suo
*.sqlite
*.yml